<%= form_with(model: sampling_type, local: true) do |form| %>
  <% if sampling_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sampling_type.errors.count, "error") %> prohibited this sampling_type from being saved:</h2>

      <ul>
      <% sampling_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :sampling_type_nombre %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
